/* Article__Two */

.article-Two--heading,
.article-Two__sub-Heading {
  color: var(--heading-color);
}
.article-Two--heading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.article__Two-image {
  width: 40px;
  margin: 1rem 1.5rem 0 0;
}

.article__Two-subSection {
  padding-left: 15px;
}

.article-Two__sub-Heading {
  font-size: 2rem;
  margin: 0;
}

.article-Two__para {
  font-size: 1.5rem;
}

.section-One {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 2rem;
}

.section-One:hover {
  box-shadow: 0 0 15px grey;
  transition: 0.15s;
}
