/* Card--section */

.card--section {
  margin-bottom: 10rem;
}

.card--section,
.card__section-heading {
  text-align: center;
}
.card__section-heading,
.card__heading {
  font-weight: bolder;
  font-size: 2.2rem;
  color: var(--heading-color);
}

.anchor__tag {
  font-size: 2rem;
  padding-left: 0.5rem;
  font-weight: 500;
}
.card__para {
  font-size: 1.7rem;
  padding-bottom: 3rem;
  color: var(--para-color);
}

.anchor__get-Started {
  color: var(--anchor-getStarted);
}

.card {
  padding: 5rem 3rem 2rem 3rem;
  margin: 3rem 3rem 0;
  height: 450px;
  width: 400px;
}

.card__Two {
  box-shadow: 0 0 12px grey;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 0 12px grey;
  transition: 0.5s;
}

.card__image-1 {
  width: 80px;
}

.card--section:hover .card a {
  fill: #7b40c0;
  color: #7b40c0;
  transition: 0.4s;
}

/* Card Section media queries  */
@media screen and (min-width: 768px) {
  .card__section-heading {
    font-weight: 700;
    font-size: 5rem;
    color: var(--heading-color);
  }

  .card__heading {
    font-size: 2.6rem;
  }

  .card {
    margin: 3rem 3rem 0;
    width: auto;
  }

  .card--section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (min-width: 1240px) {
  .card__section-heading {
    text-align: center;
    font-size: 6rem;
    padding: 0 30rem;
    margin: 0;
  }

  .card--section {
    display: flex;
    justify-content: center;
  }

  .card {
    height: 500px;
    width: 400px;
  }
}
