/* Section--Two */

.section--Two-heading {
  text-align: center;
}

.section--Two-heading,
.section__Two-innerHeading {
  font-size: 2.5rem;
  color: var(--heading-color);
}

.section--Two {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 1rem;
}

.section__Two-innerDiv {
  margin-bottom: 7rem;
}

.section__Two-image {
  object-fit: cover;
  width: 100%;
}

.section__Two-innerHeading {
  display: block;
  font-weight: 700;
  margin: 3rem 0 2rem;
}

.section__Two-innerHeading:hover {
  color: var(--btn-color);
}

.section__Two-blogReading {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 2rem;
  color: var(--para-color);
}

.section__Two-blogDate {
  font-size: 1.7rem;
  margin: 2rem 0 0;
  color: var(--btn-color);
}

.section__Two-innerDiv:hover img {
  transform: rotate(1deg) scale(1.1);
  transition: all 0.4s ease-out 0s;
}

.section--Two-innerDiv img {
  transition: all 0.4s ease-out 0s;
  transform: rotate(1deg) scale(1);
}

@media screen and (min-width: 768px) {
  .section--Two-heading {
    font-size: 5rem;
    font-weight: 700;
    /* padding: 2rem 12rem 1rem; */
    margin: 6rem 0 4rem;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
  }

  .section--Two {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 1240px) {
  .section--Two-heading {
    font-size: 5rem;
    font-weight: 700;
    margin: 13rem 0 8rem;
    display: grid;
    grid-template-columns: 35%;
    justify-content: center;
  }

  .section--Two {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
  }
}
