:root {
  --navbar-btn-bg: #4043bc;
  --heading-color: #2b4b80;
  --article-three-Detail: #596a82;
  --para-color: #707b8e;
  --btn-color: #ff5c97;
  --white-color: #fff4f8;
  --anchor-getStarted: #c5ccd8;
  --section-One-Quotes: #e3def0;
  --section-One-user-name: #2e1088;
  --section-One-user-occupation: #818b9c;
  --section-Three-para: #f8f7fb;
  --section-Three-btn: #b058c3;
  --social-media-links: #fafafa;
  --footer-OtherLinksHeading: #013061;
  --pink-color: #e83e8c;
  --article-Three-detail: #57667e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 2rem;
  margin: 0;
}

/* Navbar Section */

.navbar__logo {
  width: 150px;
}

/* Hero--section */

.hero--section {
  margin-bottom: 17rem;
}

.hero__heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: bolder;
}

.hero__para {
  color: var(--para-color);
  font-size: 1.7rem;
  line-height: 2;
  padding: 2rem 0;
}

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 5.5rem;
  letter-spacing: 0.8px;

  border: 0;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: var(--white-color);
}

.hero--section__img {
  width: 0;
}

/* Card--section */

.card--section {
  margin-bottom: 10rem;
}

.card--section,
.card__section-heading {
  text-align: center;
}
.card__section-heading,
.card__heading {
  font-weight: bolder;
  font-size: 2.2rem;
  color: var(--heading-color);
}

.anchor__tag {
  font-size: 2rem;
  padding-left: 0.5rem;
  font-weight: 500;
}
.card__para {
  font-size: 1.7rem;
  padding-bottom: 3rem;
  color: var(--para-color);
}

.anchor__get-Started {
  color: var(--anchor-getStarted);
}

.card {
  padding: 5rem 3rem 2rem 3rem;
  margin: 3rem 3rem 0;
  height: 450px;
  width: 400px;
}

.card__Two {
  box-shadow: 0 0 12px grey;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 0 12px grey;
  transition: 0.5s;
}

.card__image-1 {
  width: 80px;
}

.card--section:hover .card a {
  fill: #7b40c0;
  color: #7b40c0;
  transition: 0.4s;
}

/* Article One */

.article--One-section {
  margin-bottom: 12rem;
}

.article__section-img {
  object-fit: cover;
  max-width: 100%;
}

.article__One-InnerHeading {
  font-size: 2.8rem;
  font-weight: 700;
}

.article__One-para {
  margin: 0 0 4rem;
  width: 90%;
}

/* Article__Two */

.article-Two--heading,
.article-Two__sub-Heading {
  color: var(--heading-color);
}
.article-Two--heading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

.article__Two-image {
  width: 40px;
  margin: 1rem 1.5rem 0 0;
}

.article__Two-subSection {
  padding-left: 15px;
}

.article-Two__sub-Heading {
  font-size: 2rem;
  margin: 0;
}

.article-Two__para {
  font-size: 1.5rem;
  color: var(--para-color);
}

.section-One {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
}

.section-One:hover {
  box-shadow: 0 0 15px grey;
  transition: 0.15s;
}

/* Article__Three  */

.article__Three-spacing {
  margin-bottom: 7rem;
}

.article__Three-banners {
  display: grid;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: 70%;
  row-gap: 3rem;
}

.article__Three-section {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  transition: 0.15s;
  border: 2.5px solid var(--social-media-links);
}

.article__Three-section:hover {
  box-shadow: 0 0 15px grey;
}

.article--Three-heading,
.article--Three-Subheadings {
  color: var(--heading-color);
}

.article--Three-heading {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 7rem;
  text-align: center;
}

.article__Three-images {
  width: 80px;
}

.article__Three-SubSection {
  text-align: center;
}

.article--Three-Subheadings {
  font-size: 3.5rem;
  margin: 1.5rem 0 2rem;
}

.article__three-services {
  color: var(--article-three-Detail);
  display: block;
  font-size: 1.8rem;
  line-height: 2.3;
  color: var(--article-Three-detail);
}

/* Section--One */

.section--One__heading {
  font-size: 3rem;
  text-align: center;
  color: var(--heading-color);
  margin: 0;
}

.section--One {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section__para {
  text-align: center;
  margin: 6rem 0 3rem 0;
  padding: 0 5rem;
  font-size: 2rem;
  font-style: italic;
  color: var(--para-color);
}

.section__user-image {
  width: 65px;
  margin: 1rem 2rem 1rem 1rem;
  object-fit: cover;
}

.section__user-name {
  font-size: 3rem;
  font-weight: 600;
  color: var(--section-One-user-name);
}
.section__user-occupation {
  font-size: 1.6rem;
  color: var(--section-One-user-occupation);
}

.Section__user {
  display: flex;
  padding-top: 2rem;
}
.Section__Sub-user {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Section--Two */

.section--Two-heading {
  text-align: center;
}

.section--Two-heading,
.section__Two-innerHeading {
  font-size: 2.5rem;
  color: var(--heading-color);
}

.section--Two {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 1rem;
}

.section__Two-innerDiv {
  margin-bottom: 7rem;
}

.section__Two-image {
  object-fit: cover;
  width: 100%;
}

.section__Two-innerHeading {
  display: block;
  font-weight: 700;
  margin: 3rem 0 2rem;
}

.section__Two-innerHeading:hover {
  color: var(--btn-color);
}

.section__Two-blogReading {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 2rem;
  color: var(--para-color);
}

.section__Two-blogDate {
  font-size: 1.7rem;
  margin: 2rem 0 0;
  color: var(--btn-color);
}

.section__Two-innerDiv:hover img {
  transform: rotate(1deg) scale(1.1);
  transition: all 0.4s ease-out 0s;
}

.section--Two-innerDiv img {
  transition: all 0.4s ease-out 0s;
  transform: rotate(1deg) scale(1);
}

/* Section--Three */

.section__Three-card {
  background: rgb(255, 92, 152);
  background-image: linear-gradient(
      90deg,
      rgba(255, 92, 152, 0.95) 0%,
      rgba(124, 64, 192, 0.95) 100%
    ),
    url("/images/background-images/project-in-mind-bg-img.webp");

  background-repeat: no-repeat;
  width: 100%;
  height: 250px;

  color: #fff;
  border-radius: 10px;
  padding: 1.5rem 0.6rem 0 1.7rem;
  height: 32rem;
}

.section__Three-card {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: repeat(3, 20% 42% 25%);
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 0;
}

.section__Three-InnerHeading {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.section__Three-para {
  font-size: 1.7rem;
  line-height: 1.7;

  color: var(--section-Three-para);
  margin: 0;
}

.section__Three-btn {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--section-Three-btn);
  background-color: var(--white-color);
  max-width: 230px;
  height: 68px;
  padding: 0;
}

/* footer section */

.footer--section {
  background-image: url(/images/background-images/footer_bg.png.webp);
  object-fit: cover;
  margin-top: 4rem;
}

.footer__logo {
  margin-top: 3rem;
}

.footer__email,
.footer__address {
  font-size: 2rem;
  color: var(--para-color);
}
.footer__address {
  width: 85%;
}

.footer__email {
  margin-bottom: 3rem;
}

.footer__area {
  margin-top: 7rem;
}

.footer__social-links {
  border: 1px solid var(--social-media-links);
  padding: 10px 10px;
  background-color: var(--social-media-links);
  margin-right: 10px;
}

.social__icons {
  font-size: 20px;
  color: #949eb2;
  vertical-align: middle;
}

.footer__social-links:hover {
  border: 1px solid var(--pink-color);
  padding: 10px 10px;
  background-color: var(--pink-color);
  margin-right: 10px;
  transition: all 0.4s ease-out 0s;
}
.footer__social-links:hover .social__icons {
  color: #f8f7fb;
  transition: all 0.3s ease-out 0s;
}

.footer__OtherLinks {
  margin-top: 7rem;
}

.footer__OtherLinks-Spacing {
  margin-bottom: 5rem;
  display: block;
}

.footer__OtherLinks-Heading {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  color: var(--footer-OtherLinksHeading);
}

.footer__OtherLinks ul {
  list-style-type: none;
  padding: 0;
}

.footer__OtherLinks li {
  padding-bottom: 1rem;
}

.footer__OtherLinks a {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--para-color);
}

.footer__OtherLinks-Elements li a:hover {
  color: var(--pink-color);
}

.footer__copyright {
  font-size: 1.7rem;
  text-align: center;
  color: var(--para-color);
}

/* Media Queries  */

/* hero-section  */

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 9rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .hero__para {
    font-size: 2.3rem;
    line-height: 1.7;
    width: 60%;
    margin-bottom: 7rem;
  }

  .btn {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 2.6rem 8rem;
    letter-spacing: 0.8px;
    cursor: pointer;
  }

  .hero--section__img {
    width: 0;
  }

  /* card-section */

  .card__section-heading {
    font-weight: 700;
    font-size: 5rem;
    color: var(--heading-color);
  }

  .card__heading {
    font-size: 2.6rem;
  }

  .card {
    margin: 3rem 3rem 0;
    width: auto;
  }

  .card--section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
  }

  /* article-One  */

  .article__section-img {
    object-fit: cover;
    /* width: 100%; */
  }

  .article__One-InnerHeading {
    font-size: 4.5rem;
    font-weight: 700;
  }

  .article__One-para {
    padding-top: 4rem;
  }

  /* article-Two  */

  .article-Two--heading {
    font-size: 5rem;
    font-weight: 700;
  }

  .article__Two-subSection {
    width: 70%;
  }

  .section-One {
    justify-content: flex-start;
    margin-bottom: 3rem;
    padding: 2rem 1rem 1rem 2rem;
    border: 3.2px solid var(--social-media-links);
    border-radius: 6px;
  }

  .article-Two__sub-Heading {
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2.9rem;
  }

  .article-Two__para {
    font-size: 1.7rem;
    line-height: 3rem;
  }

  .article__Two-image {
    width: 45px;
  }

  .article__Two {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
    justify-content: center;
  }

  /* article-Three.css  */

  .article--Three-heading {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 4rem 0;
  }

  .article__Three-banners {
    display: grid;
    /* justify-content: center; */
    justify-content: start;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .article__Three-section {
    margin: 0;
    padding: 6rem 2rem 2rem 2rem;
    width: 100%;
    height: 500px;
    border-radius: 7px;
  }

  .article__Three-images {
    padding-bottom: 0.5rem;
  }

  .article--Three-Subheadings {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .article__three-services {
    font-size: 1.8rem;
    line-height: 2.3;
  }

  /* section--One  */

  .section--One__heading {
    font-size: 5.5rem;
    font-weight: bolder;
    padding: 0 7rem;
  }

  .section__para {
    margin: 2rem 0 3rem 0;

    font-size: 2.2rem;
    width: 85%;
  }

  /* section--Two  */

  .section--Two-heading {
    font-size: 5rem;
    font-weight: 700;
    /* padding: 2rem 12rem 1rem; */
    margin: 6rem 0 4rem;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
  }

  .section--Two {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
  }

  /* section--Two  */

  .section__Three-card {
    grid-template-rows: repeat(3, 28% 35% 25%);
  }

  .section__Three-InnerHeading {
    font-size: 4rem;
  }

  .section__Three-para {
    font-size: 2rem;
  }

  .section__Three-btn {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0;
  }
  /* footer element  */

  .footer__innerDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }
  .footer__OtherLinks {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 990px) {
  .article__Three-banners {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 3rem;
  }

  .article__Three-section {
    margin: 0;
    padding: 6rem 2rem 2rem 2rem;
    width: 100%;
  }

  /* section--One  */

  .section--One__heading {
    position: relative;
  }

  .section--One__heading::before {
    position: absolute;
    top: 6rem;
    left: 0rem;
    content: url(/images/Section-One-image/quote.png);
    height: 7rem;
  }

  .section--One {
    position: relative;
  }

  .Section__user::after {
    position: absolute;
    right: 5rem;
    bottom: 0;
    content: url(/images/Section-One-image/quote--2.png);
  }

  .section__para {
    margin: 7rem 0 0 0;
  }
  /* section--Three  */

  .work--caption {
    /* height: 200px; */
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .section__Three-card {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: repeat(2, 30%);
    align-content: center;
    padding: 0;
  }

  .section__Three-InnerHeading {
    font-size: 4rem;
    align-self: center;
    grid-area: 1/1/2/2;
  }

  .section__Three-para {
    font-size: 2rem;
    grid-area: 2/1/2/3;
    width: 55%;
  }

  .section__Three-btn {
    grid-area: 1/2/3/3;
    align-self: center;
    justify-self: center;
    width: 230px;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0;
  }
  .footer__innerDiv {
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    justify-items: center;
  }

  .footer__OtherLinks {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1140px) {
  .section--One__heading::before {
    top: 4rem;
    left: 4rem;
  }
  .section__para {
    width: 70%;
  }

  /* section--Three  */
}

@media screen and (min-width: 1240px) {
  .navbar--container {
    padding: 3rem 4rem 0 4rem;
  }

  .navbar--container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .navbar__image,
  .navbar__btn {
    justify-self: center;
    align-self: center;
  }

  .navbar__links a {
    text-decoration: none;
  }

  .navbar__links ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 2.5rem;
  }

  .navbar__links ul a:hover {
    transition: all 0.4s;
    color: var(--pink-color);
  }

  .navbar__btn button {
    font-size: 2.2rem;
    font-weight: normal;
    color: var(--white-color);
    background-color: var(--navbar-btn-bg);
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 7px;
  }

  /* Hero Section  */

  .hero--section {
    display: flex;
    flex-direction: row;

    background-image: url(/images/background-images/h1_hero.png.webp);
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .left__section {
    padding: 5rem 0 0 7rem;
  }

  .hero__heading {
    font-size: 8rem;
    line-height: 1;
    font-weight: 700;
  }

  .hero--section__img {
    width: auto;
    object-fit: cover;
  }
  .hero__para {
    font-size: 2.3rem;
    line-height: 1.7;
    width: 70%;
    margin-bottom: 3rem;
  }

  .btn {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 2.6rem 8rem;
    letter-spacing: 0.8px;
  }
  .section__Three-btn {
    padding: 0;
    font-size: 2.2rem;
  }

  /* card-section */

  .card__section-heading {
    text-align: center;
    font-size: 6rem;
    padding: 0 30rem;
    margin: 0;
  }

  .card--section {
    display: flex;
    justify-content: center;
  }

  .card {
    height: 500px;
    width: 400px;
  }

  /* article-One  */

  .article--One-section {
    padding: 0 8rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .article__section-img {
    object-fit: cover;
  }

  .article__One-InnerHeading {
    padding-top: 5rem;
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .article__OneInnerSpacing {
    padding-left: 2rem;
  }
  .article__One-para {
    padding-top: 4rem;
  }

  /* section--Two  */

  /* section Two  */
  .section--Two-heading {
    font-size: 5rem;
    font-weight: 700;
    margin: 13rem 0 8rem;
    display: grid;
    grid-template-columns: 35%;
    justify-content: center;
  }

  .section--Two {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
  }
}
